body {
    direction: rtl;
    font-family: 'Yekan', 'Dinar', 'OpenSans';
    text-align: right;
}
.s-2x {
    font-size: 2em;
}
.bg-wite {
    background-color: #fff;
}

.s-1-5x {
    font-size: 1.5em;
}
.text-decoration-none:hover {
    text-decoration: none;
}

.hidden {
    display: none;
}


/* modify default bootstrap */

.nav-link .caret {
    margin-right: 5px;
}
.custom-checkbox label {
    margin-right: 25px;
}
.custom-checkbox label:before , .custom-checkbox label:after {
    right: 0;
}

#clone-box {
    padding-bottom: 100px;
}

.add-row {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px 50px;
}

/* are you sure box */
#are_you_sure {
    position: fixed;
    left: 25px;
    bottom: 25px; 
    z-index: 1;
    padding: 25px 100px;
    display: none;
}